<manifest package="com.gustavohisan.apelieuser.main"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        tools:replace="android:theme"
        android:allowBackup="true"
        android:supportsRtl="false"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar">

        <activity
            android:name=".presentation.MainActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.gustavohisan.apelieuser.START_MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
</manifest>
