<manifest package="com.gustavohisan.apelieuser.login"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        tools:replace="android:theme"
        android:allowBackup="true"
        android:supportsRtl="false"
        android:theme="@style/DefaultTheme">

        <activity
            android:name=".presentation.LoginActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.gustavohisan.apelieuser.START_LOGIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
